{% extends 'men/base.html' %}

{% block content %}



<ul class="list-articles">


    <!-- # object_list по сути равно Men.object.all() -->
    {% for p in posts %}
    <li>
        <div class="article-panel">
            <p class="first">
                Категория: {{ p.cat }}
            </p>
            <p class="last">
                Дата обнавления: {{ p.time_update|date:'d-m-Y H:i:s' }}
            </p>
        </div>

        <!-- Отобрадение фото, если в записи фото загружено: -->
        <!-- posts = Men.objects.all()
        p = одна запись из posts -->
        {% if p.photo %}
            <p>
                <img class="img-article-left thumb" src="{{ p.photo.url }}">
            </p>
        {% endif %}




        <h2>{{ p.title }}</h2>
        <p>{{ p.content|linebreaks|truncatewords:50 }}</p>
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
        <hr>
    </li>
    {% endfor %}
</ul>
{% endblock %}





